<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>eBuilder Technocoders</title>
    <!-- Bootstrap core CSS-->
    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
    <!-- Custom fonts for this template-->
    @Styles.Render("~/Content/vendor/font-awesome/css/font-awesome.min.css")
    <!-- Custom styles for this template-->
    @Styles.Render("/Content/css/sb-admin.css")

</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" href="@Url.Action("Dashboard","Home")">eBuilder</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="@Url.Action("Dashboard","Home")">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="My Profile">
                    <a class="nav-link" href="@Url.Action("ViewProfile","Employees")">
                        <i class="fa fa-fw fa-user-circle"></i>
                        <span class="nav-link-text">My Profile</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Reports">
                    <a class="nav-link" href="@Url.Action("Index","Reports")">
                        <i class="fa fa-fw fa-newspaper-o"></i>
                        <span class="nav-link-text">Reports</span>
                    </a>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Manage Employees">
                    <a class="nav-link" href="@Url.Action("Manage","Employees")">
                        <i class="fa fa-fw fa-users"></i>
                        <span class="nav-link-text">Manage Employees</span>
                    </a>
                </li>


                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Leaves">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseLeaves" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-calendar-minus-o"></i>
                        <span class="nav-link-text">Leaves</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseLeaves">
                        <li>
                            <a href="@Url.Action("ApplyLeave","Leaves")">Apply Leaves</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ViewLeaves","Leaves")">View Leaves</a>
                        </li>
                    </ul>
                </li>


                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Duty Leaves">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseDutyLeaves" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-calendar-minus-o"></i>
                        <span class="nav-link-text">Duty Leaves</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseDutyLeaves">
                        <li>
                            <a href="@Url.Action("ApplyDutyLeave","DutyLeaves")">Apply Duty Leaves</a>
                        </li>

                        <li>
                            <a href="@Url.Action("ViewDutyLeaves","DutyLeaves")">View Duty Leaves</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Attendance">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseAttendance" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-calendar-minus-o"></i>
                        <span class="nav-link-text">Attendance</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseAttendance">
                        <li>
                            <a href="@Url.Action("ViewAttendance","Attendance")">View Attendance</a>
                        </li>

                        <li>
                            <a href="@Url.Action("ViewAttendanceAsChart","Attendance")">View Attendance As Charts</a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Leave_Types">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseLeave_Types" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-calendar-minus-o"></i>
                        <span class="nav-link-text">Leave Types</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseLeave_Types">
                        <li>
                            <a href="@Url.Action("Index","LeaveTypes")">View Leave Types</a>
                        </li>

                        <li>
                            <a href="@Url.Action("Create","LeaveTypes")">Add a Leave Type</a>
                        </li>
                    </ul>
                </li>



                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Settings">
                    <a class="nav-link" href="@Url.Action("Settings","Employees")">
                        <i class="fa fa-fw fa-cog"></i>
                        <span class="nav-link-text">Settings</span>
                    </a>
                </li>



            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            Messages
                            <span class="badge badge-pill badge-primary">12 New</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">New Messages:</h6>

                        <a class="dropdown-item small" href="#">View all messages</a>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="popover-header">
                        @HttpContext.Current.User.Identity.Name
                    </div>

                </li>


                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->

            <div class="row">
                <div class="container body-content">
                    @RenderBody()
                    <hr />
                </div>
            </div>
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small></small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        @Html.ActionLink("Logout", "Logout", "Employees", null, new { @class = "btn btn-primary" })

                        <!--<a class="btn btn-primary" href="login.html">Logout</a>-->
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->

        @Scripts.Render("~/Content/vendor/jquery/jquery.min.js")

        @Scripts.Render("~/Content/vendor/bootstrap/js/bootstrap.bundle.min.js")
        <!-- Core plugin JavaScript-->

        @Scripts.Render("~/Content/vendor/jquery-easing/jquery.easing.min.js")

        @Scripts.Render("~/Content/js/sb-admin.min.js")

        @Scripts.Render("~/Scripts/Chart.min.js")

        @RenderSection("scripts", required: false)


        <!-- Custom scripts for all pages-->
    </div>
</body>

</html>
