@model IEnumerable<WebApp_ebuilder.Models.employee>

@{
    ViewBag.Title = "ViewEmployees";
}

<h2>All Employees</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.dob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.homeNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.street)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.jobCategory)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.EID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.dob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.homeNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.street)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.jobCategory)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ })
            
                @{
                    if (HttpContext.Current.User.IsInRole("HR Admin"))
                    {
                        
                        <br/>
                        @Html.ActionLink("Edit", "Edit", new { EID = item.EID });
                        <br/>
                        @Html.ActionLink("Delete", "Delete", new { id = item.EID });
                    }
                }
            
        </td>
    </tr>
}

</table>
